@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 27%, 94%;
    --foreground: 222.2 47.4% 11.2%;
    --border: 15, 6%, 13%;
    --input: 214.3 31.8% 91.4%;

    --ring: 215 20.2% 65.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
